.login {
  background-image: url(../photos/it.jpg);
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  background-size: cover;
}
.login-content {
  display: flex;
  width: 75%;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  /* position: fixed; */
  flex-direction: column;
}
.inputs {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.passport-button {
  text-align: center;
  box-sizing: border-box;
  width: 480px;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g {
  width: 25px;
}
.Google {
  background-color: #a91614f2;
}

.Google:hover {
  background-color: #901d1bb5;
}
.Git {
  color: black;
}
.Git:hover {
  background-color: #dadada;
}

.Intra {
  background-color: #00babc;
}
.Intra:hover {
  background-color: #05b5b7d9;
}
input.inpt {
  box-sizing: border-box;
  width: 480px;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(240, 240, 240, 0.54);
  border-radius: 5px;
  height: 49px;
  color: #fff;
}
input.inpt:hover {
  cursor: pointer;
  background-color: rgba(39, 39, 39, 0.75);
  box-shadow: 0px 0px 7px 1px #ffffff61;
}

input.inpt:focus {
  background-color: rgba(39, 39, 39, 0.75);
  box-shadow: 0px 0px 7px 1px #ffffff61;
}

.login-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
  color: #fff;
}

.login-button {
  width: 480px;
  margin-top: 10px;
  height: 49px;
  background: #e50914;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 2px;
}
.login-button:hover {
  opacity: 0.9;
}

.forget-password {
  cursor: pointer;
  color: #b3b3b3;
  font-size: 13px;
  font-weight: 500;
}
.forget-password:hover {
  text-decoration: underline;
  color: #b3b3b3;
}

.forget-password-div {
  margin-top: 5px;
}
.to-register {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-right: 242px;
}
.decoration {
  color: #fff;
}
.decoration:hover {
  text-decoration: underline;
  color: #fff;
}
.to-register.fr {
  margin-right: 120px;
}
@media (max-width: 700px) {
  .login {
    background-color: #000;
    background-image: unset;
  }
  .login-content {
    width: 95%;
  }
  .inputs {
    width: 95%;
  }
  .passport-button {
    width: 100%;
  }
  input.inpt {
    width: 100%;
  }
  .validation-button,
  .login-button {
    width: 100%;
  }
  .to-register {
    margin-right: 49px;
  }

  .login-content h1 {
    margin: unset;
    font-size: 2.2rem;
    margin-top: 50px;
  }
  .to-register.fr {
    margin-right: 0;
  }
}

/* .login::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    z-index: -1;
    transition: all 0.5s;
} */
